.hero {
  padding: 100px 0 32px 0;
}

.hero h1 {
  font-family: "Bayon", sans-serif;
  font-size: 110px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.top-hero {
  display: grid;
  grid-template-columns: 1fr 5.5fr 1fr;
  align-items: center;
  margin-bottom: 24px;
}

.middle-hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.middle-hero div {
  text-align: center;
}

.middle-hero p {
  max-width: 545px;
  margin: 0 auto;
}

.middle-hero .btn-book-call {
  display: inline-block;
  margin-top: 24px;
}

.bottom-hero {
  background-color: var(--yellow-color);
  margin-top: 32px;
  display: flex;
  /* grid-template-columns: 3fr 4fr 2fr; */
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
  border-radius: 32px;
  /* gap: 32px; */
}

/* .bottom-hero div:first-child,
.bottom-hero div:last-child {
  width: 30%;
} */

.author-content {
  max-width: 34%;
}

.bottom-hero h2 {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 32px;
  font-family: "Bayon", serif;
  font-weight: 500;
}

.author-detail {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.author-avatar {
  width: 48px;
  height: 48px;
}

.author-name {
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--heading-color);
  font-weight: 600;
}
